* {
	margin: 0;
	padding: 0;
}

body {
	background: #e8e8e8;
}

#mudaLayout {
	display: none;
}

.container {
	padding: 0 10%;
}

.cabecalho {
	background: #0082c7;	
}

.titulo {
	color: yellow;
}

.mural {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}

.mural--linhas {
	flex-direction: column;
}

.mural--linhas .cartao {
	flex-basis: auto;
	width: auto;
	display: block;
}

.cartao {	
	background: #ebef40;	
	margin: 16px;
	padding: 16px;
	text-align: left;
	/* Indica que o width é o tamanho até a borda, nao somente o conteudo */
	box-sizing: border-box;
	flex-grow: 1;
	flex-basis: 190px;
	flex-grow: 1;
}

.cartao--some {
	opacity: 0;
	transition: 0.5s ease-in;
}

@media (min-width: 560px) {
	.cartao {
		display: inline-block;
		width: 190px;	
	}

	#mudaLayout {
		display: inline-block;
	}
}